<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net46" />
  <package id="Caliburn.Micro" version="3.0.0" targetFramework="net46" />
  <package id="Caliburn.Micro.Core" version="3.0.0" targetFramework="net46" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net46" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net46" />
  <package id="Microsoft.Framework.Configuration" version="1.0.0-beta8" targetFramework="net46" />
  <package id="Microsoft.Framework.Configuration.Abstractions" version="1.0.0-beta8" targetFramework="net46" />
  <package id="Microsoft.Framework.Configuration.FileExtensions" version="1.0.0-beta8" targetFramework="net46" />
  <package id="Microsoft.Framework.Configuration.Json" version="1.0.0-beta8" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net46" />
  <package id="NLog" version="4.2.3" targetFramework="net46" />
  <package id="Shouldly" version="2.6.0" targetFramework="net46" />
  <package id="xunit" version="2.1.0" targetFramework="net46" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net46" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net46" />
  <package id="xunit.core" version="2.1.0" targetFramework="net46" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net46" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net46" />
  <package id="xunit.runner.console" version="2.1.0" targetFramework="net46" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net46" />
</packages>